echo "Sourcing aliases..."

alias copy='xclip -sel clip'
alias key='cat ~/repos/.dotfiles/scripts/shortcuts.txt'
alias keys='cat ~/repos/.dotfiles/scripts/shortcuts.txt'
alias path='tr ":" "\n" <<< "$PATH"'
alias vpn='sudo openconnect --juniper --no-dtls vpn.rockefeller.edu'


alias VIM="nvim"
alias PERSONAL=$XDG_CONFIG_HOME/personal
alias sudoedit='function _sudoedit(){sudo -e "$1";};_sudoedit'


# - AwesomeWM ----
alias awrc='$EDITOR $XDG_CONFIG_HOME/awesome/rc.lua'
alias awtheme='$XDG_CONFIG_HOME/awesome/themes/copland/theme-personal.lua'
alias awdir='cd $XDG_CONFIG_HOME/awesome'
alias goaw="nvim ~/.config/awesome/"

# - Lists ----
alias lsa='ls -la'

# - Navigation -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias cdr="cd ~/repos/.dotfiles/"
alias cdt="cd ~/.config/tmux/tmux.conf"
alias cdd="cd ~/repos/.dotfiles/"
alias cdi3="cd ~/.config/i3/config"
alias cdn="cd ~/.config/nvim/"

# - Nvim To File ----
alias goa="nvim ~/.aliases"
alias goz="nvim ~/.zshrc"
alias got="nvim ~/repos/.dotfiles/dots/.config/tmux/tmux.conf"
alias gos="nvim ~/repos/.dotfiles/dots/.config/skhd/skhdrc"
alias gok="nvim ~/repos/.dotfiles/dots/.config/kitty/kitty.conf"
alias goy="nvim ~/repos/.dotfiles/dots/.config/yabai/yabairc"
alias god="nvim ~/repos/.dotfiles/"
alias goi3="nvim ~/.config/i3/config"
alias gon="nvim ~/.config/nvim/"

# - Source --------
alias sz="source ~/.zshrc"
alias st="tmux source ~/.config/tmux/tmux.conf"

# - Git ---------
alias gs="git status"
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gd="git diff"

alias hf="history | fzf -e"
alias lg="lazygit"
