#!/bin/bash
#
echo "Sourcing aliases..."
#
export REPOS=~/repos/
export DOTS=$REPOS/.dotfiles/

alias mount2='sudo mount -t cifs //v-storage2.rockefeller.edu/v-data2 /mnt/vdata2 -o credentials=/root/.smbcredentials_vgpu &> /dev/null'
alias mount4='sudo mount -t cifs //v-storage2.rockefeller.edu/v-data4 /mnt/vdata4 credentials=/root/.smbcredentials_vgpu &> /dev/null'
alias go4='cd /v-data4/foconnell/code/'
alias gobash='exec bash -l'
alias gozsh= 'exec ~/bin/zsh'

alias fd='fdfind'

alias vgpu='remmina ~/.local/share/remmina/rockefellernt_rdp_v-gpu2_129-85-3-29.remmina &'
alias rdp='remmina ~/.local/share/remmina/rockefellernt_rdp_v-gpu2_129-85-3-29.remmina &'
alias auto="nvim ~/.config/autostart"

alias key='cat ~/repos/.dotfiles/scripts/shortcuts.txt'
alias keys='cat ~/repos/.dotfiles/scripts/shortcuts.txt'
alias path='tr ":" "\n" <<< "$PATH"'
alias logout='sudo service gdm restart'
alias cppw='xsel --clipboard < ~/.password.txt'
alias VIM="nvim"

# - Lists ----
alias lsa='ls -la'

# - Navigation -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias cdaw="cd ~/.config/awesome"
alias cdr="cd ~/repos"
alias cdd="cd ~/repos/.dotfiles"
alias cdow="cd ~/Downloads/"
alias cdot="cd ~/repos/.dotfiles/dots"
alias cdi3="cd ~/.config/i3/config"
alias cdt="cd ~/.config/tmux/tmux.conf"
alias cdn="cd ~/.config/nvim/"
alias cds="cd ~/repos/.dotfiles/scripts"
alias cdm="cd /mnt/vdata4/foconnell"
alias cdmc="cd /mnt/vdata4/foconnell/code"
alias cdmd="cd /mnt/vdata4/foconnell/data"

# - Nvim To File ----
alias goa="nvim ~/.aliases"
alias gow="nvim ~/.config/nitrogen"
alias goz="nvim ~/.zshrc"
alias goe="nvim ~/.zshenv"
alias gov="nvim ~/.vimrc"
alias goi='nvim ~/.ideavimrc'
alias got="nvim ~/repos/.dotfiles/dots/.config/tmux/tmux.conf"
alias gos="nvim ~/repos/.dotfiles/scripts/install_dev"
alias gok="nvim ~/repos/.dotfiles/dots/.config/kitty/kitty.conf"
alias god="nvim ~/repos/.dotfiles/"
alias goi3="nvim ~/.config/i3/config"
alias gon="nvim ~/.config/nvim/"
alias goicon='nvim ~/.icons/'
alias goaw="nvim ~/.config/awesome/"

# - Source --------
alias sz="source ~/.zshrc"
alias st="tmux source ~/.config/tmux/tmux.conf"

# - Git ---------
alias gs="git status"
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gd="git diff"

alias hf="history | fzf -e"
alias lg="lazygit"

alias go4="nvim /mnt/vdata4/foconnell/code/rbo-lbm/"
alias cd4="cd /mnt/vdata4/foconnell/"
alias cd2="cd /mnt/vdata2/foconnell/"
