""" Map leader to space ---------------------
let mapleader=" "

imap kj <Esc>

nnoremap yy "+yy
vnoremap y "+y

nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P

nnoremap <leader>yy yy
vnoremap <leader>y y

nnoremap <leader>p p
vnoremap <leader>p p
nnoremap <leader>P P
vnoremap <leader>P P

nnoremap <leader>dd "+dd
vnoremap <leader>d "+d

""" Plugins  --------------------------------
set surround
set commentary
set NERDTree
set highlightedyank



""" Handlers --------------------------------
sethandler <C-C> v-i:ide n:vim
sethandler <C-V> v-i:ide n:vim

""" Common settings -------------------------
set so=20  " Keep 10 lines above/below cursor
set nu
set relativenumber
set sneak
set clipboard+=unnamed
set ignorecase
set smartcase
set scrolloff=5
set wildmenu
set wildmode=list:longest
set wildignore+=*/target/*,*/.idea/*,*/.git/*,*/.svn/*,*/.hg/*,*/build/*
set guicursor=n:hor10,i:ver25

""" Idea specific settings ------------------
set ideastatusicon=gray
set ideamarks " Sync marks and idea bookmarks
set ideajoin

""" Mappings --------------------------------
nnoremap \ :NERDTree<CR>

map <C-d> <C-d>zz
map <C-u> <C-u>zz
map n nzzzv
map N Nzzzv

""" keep selection after visual indent
vnoremap < <gv
vnoremap > >gv

""" cancel visual selection
vnoremap <C-j> <ESC>
vnoremap <C-k> <ESC>

""" Tabs ------------------------------------
map <C-1> 1gt
map <C-2> 2gt
map <C-3> 3gt
map <C-4> 4gt
map <C-5> 5gt
map <C-6> 6gt
map <C-7> 7gt

nnoremap <C-n> :tabnext<CR>
nnoremap <C-p> :tabprevious<CR>
map <C-w> <Action>(CloseContent)
vnoremap <leader>s y:%s/<C-r>"//gIc<Left><Left><Left><Left>

""" Docs and LSP -----------------------------

map gn <Action>(GotoPreviousError)
map gp <Action>(GotoNextError)
map gh <Action>(ShowErrorDescription)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gr <Action>(RenameElement)
map gs <Action>(ShowUsages)
map gf <Action>(Back)

map <leader>[ <Action>(ExecuteInPyConsoleAction)
map <leader><leader> <Action>(PyRunFileInConsole)
map <leader>o <Action>(OptimizeImports)
map <leader>r <Action>(ReformatCode)

map <leader>zo <Action>(ExpandAllRegions)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zr <Action>(ExpandRegion)
map <leader>zm <Action>(CollapseRegion)

map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader>fs <action>(NewScratchFile)

map <leader>ev :e ~/.ideavimrc<CR>

""" Window / Split Management ---------------
noremap <C-L> <C-W><C-L>
noremap <C-H> <C-W><C-H>
map <leader>\ <Action>(SplitVertically)
map <leader>- <Action>(SplitHorizontally)

""" Run/Debug --------------------------------
map ,r <Action>(Run)
map ,R <Action>(Rerun)
map ,q <Action>(Stop)
map ,b <Action>(ToggleLineBreakpoint)
map ,n <Action>(MuteBreakpoints)

map ,a <Action>(ViewBreakpoints)
map ,s <Action>(StepOver)
map ,i <Action>(StepInto)
map ,o <Action>(StepOut)
map ,c <Action>(Resume)
map ,d <Action>(Debug)