
map <c-a-m> :action MoveEditorToOppositeTabGroup<CR>
map <c-a-n> :action EditSourceInNewWindow<CR>
map <c-f> <Action>(GotoFile)
map <c-a-p> :action SearchEverywhere<CR>

map <Leader>R <Action>(Refactorings.QuickListPopupAction)
map <Leader>h <Action>(ShowErrorDescription)
map <Leader>s <Action>(FileStructurePopup)
map <Leader>f <Action>(FindUsages)

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

" set so=20  " Keep 20 lines above/below curs
set showcmd
set nu
set ic
set relativenumber
set ideajoin
set ideamarks

let mapleader=" "

map <'>1 <Action>(GoTo)

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <C--> :action EditorDecreaseFontSizeGlobal<CR>
nnoremap <C-S-=> :action EditorIncreaseFontSizeGlobal<CR>

map <C-c> <Esc>
imap kj <Esc>

""" Window / Split Management ---------------
noremap <C-L> <C-W><C-L>
noremap <C-H> <C-W><C-H>
noremap <C-K> <C-W><C-K>
noremap <C-J> <C-W><C-J>

map <c-a-\> <Action>(SplitVertically)
map <c-a-/> <Action>(SplitHorizontally)
map <c-a-x> <Action>(Unsplit)
map <c-a-z> <Action>(UnsplitAll)

map <c-a-q> :action HideAllWindows<CR>
map <c-a-w> :action HideActiveWindow<CR>
map <c-a-;> :action JumpToLastWindow<CR>

""" Mappings --------------------------------
nnoremap \ :NERDTree<CR>

vnoremap <C-j> <ESC>
map <c-w> <Action>(CloseContent)

nnoremap k kzz
nnoremap j jzz
map n nzzzv
map N Nzzzv

vnoremap < <gv
vnoremap > >gv

""" Tabs ------------------------------------
map <C-1> 1gt
map <C-2> 2gt
map <C-3> 3gt
map <C-4> 4gt
map <C-5> 5gt
map <C-6> 6gt
map <C-7> 7gt

map <c-PageDown> <Action>(NextTab)<CR>
map <c-PageUp> <Action>(PreviousTab)<CR>

""" LSP -----------------------------
map gn <Action>(GotoNextError)
map gp <Action>(GotoPreviousError)
map gk <Action>(ShowErrorDescription)
map gh <Action>(ShowIntentionActions)

map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gr <Action>(RenameElement)
map gu <Action>(ShowUsages)
map gz <Action>(ToggleZenMode)

""" Leader Key Mappings ----------------------
vnoremap <leader>s y:%s/<C-r>"//gIc<Left><Left><Left><Left>

map <leader>zo <Action>(ExpandAllRegions)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zr <Action>(ExpandRegion)
map <leader>zm <Action>(CollapseRegion)

""" Run/Debug --------------------------------
map ,r <Action>(Run)
map ,b <Action>(ToggleLineBreakpoint)

map ,e <Action>(ChooseDebugConfiguration)
map ,a <Action>(ViewBreakpoints)
map ,s <Action>(StepOver)
map ,i <Action>(StepInto)
map ,m <Action>(StepIntoMyCode)
map ,o <Action>(StepOut)
map ,c <Action>(Resume)
map ,d <Action>(Debug)
map ,f <Action>(Debugger.PopFrame)

""" Handlers ---------------

sethandler <C-j> a:vim
sethandler <C-k> a:vim
sethandler <C-f> a:vim
sethandler <C-u> a:vim
sethandler <C-d> a:vim
sethandler <C-i> a:vim
sethandler <C-r> a:vim
sethandler <C-o> a:vim
sethandler <C-p> a:vim
sethandler <C-b> a:vim
sethandler <C-n> a:vim
sethandler <C-m> a:vim
sethandler <C-q> a:vim
sethandler <C-w> a:vim

sethandler <C-1> a:vim
sethandler <C-2> a:vim
sethandler <C-3> a:vim
sethandler <C-4> a:vim
sethandler <C-5> a:vim
sethandler <C-6> a:vim
sethandler <C-7> a:vim
sethandler <C-8> a:vim
sethandler <C-9> a:vim
