[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:FlynnOConnell/kickstart.nvim.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
