[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMo1dErQuZn4J4xh0aoF8gS+JtcJbW7p5AXPrzC0lMtk
	email = flynnoconnell@gmail.com
	name = Flynn OConnell

[gpg]
  format = ssh

[commit]
  gpgsign = true

[init]
	defaultBranch = master
