.DS_Store
wallpapers/
fonts/
# Don't want packer plugins to be included
**/pack/**/start/*
**/node_modules/
**/nvim/log
**/nvim/*.log
**/nvim/state/**
**/nvim/telescope_history
**/nvim/rplugin.vim
**/mason/**/*
dots/.local/state/nvim
dots/.local/share/nvim
